---
import projects from "../../../collections/col-cmyk.json";
import PageHeading from "../../../components/page-heading.astro";
import Project from "../../../components/proj-cmyk.astro";
import Layout from "../../../layouts/main.astro";
import Separator from "../../../components/home/separator.astro";

---

<Layout title="cmyk!">
  <section class="relative max-w-4xl px-7 mx-auto mt-1 lg:mt-0">
    
    <!-- Contenedor principal -->
    <div class="flex flex-col md:flex-row md:gap-10 items-start w-full">
      
      <!-- Titulo -->
      <div class="w-full md:w-2/3">
        <h1 class="mb-0 text-6xl
        font-bold leading-tight
        md:text-5xl lg:text-6xl
        text-pink-500 group flex
        items-center space-x-2">

        <span>cmyk</span>
        
        <span class="text-6xl
        translate-y-0 text-fuchsia-600
        rotate-0 group-hover:-rotate-12
        group-hover:scale-[1.5]
        group-hover:text-cyan-400
        ease-in-out duration-300"
        >!</span>
        </h1>

      <!-- subitulo -->

        <h1 class="mb-0 text-2xl mt-1
        font-bold leading-tight mb-1
        text-pink-500 groupflex
        items-center space-x-2">
        <span>
        Catálogo para empresa de herramientas
        </span>
        </h1>


      <!-- descripcion -->          

        <p class="mt-0 text-base text-neutral-600">
        Este proyecto tuvo como objetivo diseñar materiales impresos (catálogos) directamente conectados a los datos del PIM, usando estilos y tablas preconfiguradas para minimizar errores.
        </p>
      </div>

      <!-- Imagen lateral -->
      <div class="w-full md:w-1/3">
        <img 
          src="/assets/images/projects/cmyk/proj-cmyk-catalogo_2.jpg" 
          alt="Vista previa de proyecto" 
          class="w-full mt-2 mb-2" 
        />
        <div class="p-4 bg-slate-100
        text-sm mt-2 text-neutral-700">
        <p>
Un PIM es una herramienta para centralizar y gestionar la información de productos y distribuirla fácilmente a distintos canales.        </p>
        </p>
    </div>
      </div>
    </div>

  <Separator text="html!" />

    <!-- Información del proyecto adicional -->
    <div class="w-full mt-1">

      <!-- objetivo-->
      <h2 class="mb-1 text-2xl mt-5 font-bold
      leading-tight text-pink-500
      flex items-center space-x-2">
      <span>objetivo</span>
      </h2>
      
      <p class="mt-2 text-base text-neutral-600">
      Crear estilos, tablas y edición de información contenida en el PIM. Conexión y programación para el fácil uso de la creación del material impreso por parte del equipo de diseño.
    
      </p>

      <!-- tecnologias-->
      <h2 class="mb-1 text-2xl mt-5 font-bold
      leading-tight text-pink-500
      flex items-center space-x-2">
      <span>tecnologías usadas</span>
      </h2>

      <p class="mt-2 text-base text-neutral-600">
      Agility PIM: Sistema de gestión de información de productos que centraliza y organiza datos para su fácil acceso y modificación.
</br>
Adobe InDesign: Software de diseño editorial que permite la creación de materiales impresos con alta calidad y precisión.

      </p>

      <!--resultado-->
      <h2 class="mb-1 text-2xl mt-5 font-bold
      leading-tight text-pink-500
      flex items-center space-x-2">
      <span>resultado</span>
      </h2>

      <p class="mt-2 text-base text-neutral-600">
      Reducción de errores por parte del equipo de diseño, logrando obtener información directamente del PIM, con estilos y tablas creadas, ahorrando tiempo para hacer diseños de materiales especiales.
      </p>

  <Separator text="html!" />

    <!--imagen-->
    </div>
      <img 
          src="/assets/images/projects/cmyk/proj-cmyk-catalogo_3.jpg" 
        class="mt-4 w-full md:w-auto" 
      />
    <div class="p-4 bg-slate-100
    text-sm mt-4 text-neutral-700">
        <p>
La información del PIM se guarda en una base de datos y se conecta a InDesign mediante APIs que colocan automáticamente el contenido en las páginas. Allí se almacenan atributos como títulos, ventajas, especificaciones, imágenes y tablas.        </p>
        </p>
        </div>


    <!-- final -->       
  </section>
</Layout>
