---
import colxlsx from "../../collections/col-xlsx.json";
import Button from "../button.astro";
import Project from "../proj-xlsx.astro";
---

<section class=" lg:px-0">
    <h2 class="text-4xl font-bold leading-10 tracking-tight text-fuchsia-600">
    xlsx<b class='text-cyan-400'>!</b>
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Fórmulas, macros, análisis, automatización, y más!
  </p>
  <div
    class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7"
  >
    {
      colxlsx.slice(0, 3).map((project) => {  // Aquí limitas a 3 proyectos
        return (
          <Project
            name={project.name}
            description={project.description}
            image={project.image}
            url={project.url}
          />
        )
      })
    }
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="ver mas xlsx!" link="/xlsx" />
  </div>
</section>
