---
const { text } = Astro.props;
---

<section class="lg:px-0 my-4">
  <div class="relative w-full pl-5 overflow-x-hidden md:pl-0">
    <div class="w-full h-px border-t border-dashed border-cyan-400"></div>
    {text && <p class="mt-2 text-sm text-gray-600">{text}</p>}
  </div>
</section>
