---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="inline-flex w-auto px-4 py-2 mt-1 text-sm font-semibold duration-300 ease-out   bg-slate-400  text-neutral-100   hover:bg-cyan-400 hover:text-neutral-100"
>
  {text}
</a>

