<a
  href="/"
  class="h-5 text-base group relative z-0 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <span
    class="text-5xl -translate-y-1 text-fuchsia-600 -rotate-12 group-hover:rotate-0 group-hover:scale-[1.5] group-hover:text-cyan-400 ease-in-out duration-300"
    >!</span
  >
</a>
